<form class="form-horizontal" name="currentLiabilitiesForm" novalidate>
    <fieldset>
        <legend class="debtLegend">Current Debts</legend>

        <!-- Current debts credit cards -->
        <div class="form-group row"
             ng-class="{'has-error':currentLiabilitiesForm.inputCreditCards.$invalid &&
                                    currentLiabilitiesForm.inputCreditCards.$dirty}">
            <label for="inputCreditCards" class="col-sm-4 control-label">Credit Cards</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputCreditCards"
                       name="inputCreditCards"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.currentDebtsData.creditCards"/>
            </div>
            <span class="help-block has-error"
                  ng-show="currentLiabilitiesForm.inputCreditCards.$invalid">
                Credit Cards must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Current debts estimated income tax owed -->
        <div class="form-group row"
             ng-class="{'has-error':currentLiabilitiesForm.inputEstIncomeTaxOwed.$invalid &&
                                    currentLiabilitiesForm.inputEstIncomeTaxOwed.$dirty}">
            <label for="inputEstIncomeTaxOwed" class="col-sm-4 control-label">Estimated Income Tax Owed</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputEstIncomeTaxOwed"
                       name="inputEstIncomeTaxOwed"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.currentDebtsData.incomeTaxOwed"/>
            </div>
            <span class="help-block has-error"
                  ng-show="currentLiabilitiesForm.inputEstIncomeTaxOwed.$invalid &&
                           currentLiabilitiesForm.inputEstIncomeTaxOwed.$dirty">
                Estimated Income Tax Owed must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Current debts outstanding bills -->
        <div class="form-group row"
             ng-class="{'has-error':currentLiabilitiesForm.inputOutstandingBills.$invalid &&
                                    currentLiabilitiesForm.inputOutstandingBills.$dirty}">
            <label for="inputOutstandingBills" class="col-sm-4 control-label">Outstanding Bills</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputOutstandingBills"
                       name="inputOutstandingBills"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.currentDebtsData.outstandingBills"/>
            </div>
            <span class="help-block has-error"
                  ng-show="currentLiabilitiesForm.inputOutstandingBills.$invalid">
                OutStanding Bills must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Current debts subtotal -->
        <div class="form-group row">
            <label for="calcCurrentDebts1"
                   class="col-sm-4 control-label"><span><b>Current Debts Subtotal</b></span></label>
            <div class="col-sm-4" id="calcCurrentDebts1">{{
                vm.currentDebtSubtotal | currency;}}
            </div>
        </div>

        <div id="footer">
            <ul>
                <li><a ui-sref="debtLongTerm">Long-term Debts - Next</a></li>
                <li><a ui-sref="assetsUseData">Use Assets - Previous</a></li>
            </ul>
        </div>
    </fieldset>
</form>
