<form class="form-horizontal" name="currentLiabilities" novalidate>
    <fieldset>
        <legend class="debtLegend">Current Debts</legend>
        <!-- Current debts credit cards -->
        <div class="form-group row"
             ng-class="{'has-error':allLiabilities.inputCreditCards.$invalid &&
                                    allLiabilities.inputCreditCards.$dirty}">
            <label for="inputCreditCards" class="col-sm-4 control-label">Credit Cards</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputCreditCards"
                       min="0"
                       max="9999999999999999999999999999999"
                       ng-model="vm.currentDebtsData.creditCards"
                       name="vm.creditCards"/>
            </div>
            <span class="help-block "
                  ng-show="allLiabilities.inputCreditCards.$invalid &&
                           allLiabilities.inputCreditCards.$dirty">
                Credit Cards must be a valid number or empty.
            </span>
        </div>
        <!-- Current debts estimated income tax owed -->
        <div class="form-group row"
             ng-class="{'has-error':allLiabilities.inputEstIncomeTaxOwed.$invalid &&
                                    allLiabilities.inputEstIncomeTaxOwed.$dirty}">
            <label for="inputEstIncomeTaxOwed" class="col-sm-4 control-label">Estimated Income Tax Owed</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputEstIncomeTaxOwed"
                       min="0"
                       max="9999999999999999999999999999999"
                       ng-model="vm.currentDebtsData.incomeTaxOwed"
                       name="vm.incomeTaxOwed"/>
            </div>
            <span class="help-block "
                  ng-show="allLiabilities.inputEstIncomeTaxOwed.$invalid &&
                           allLiabilities.inputEstIncomeTaxOwed.$dirty">
                Estimated Income Tax Owed must be a valid number or empty.
            </span>
        </div>
        <!-- Current debts outstanding bills -->
        <div class="form-group row"
             ng-class="{'has-error':allLiabilities.inputOutstandingBills.$invalid &&
                                    allLiabilities.inputOutstandingBills.$dirty}">
            <label for="inputOutstandingBills" class="col-sm-4 control-label">Outstanding Bills</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputOutstandingBills"
                       min="0"
                       max="9999999999999999999999999999999"
                       ng-model="vm.currentDebtsData.outstandingBills"
                       name="vm.outstandingBills"/>
            </div>
            <span class="help-block "
                  ng-show="allLiabilities.inputOutstandingBills.$invalid &&
                           allLiabilities.inputOutstandingBills.$dirty">
                OutStanding Bills must be a valid number or empty.
            </span>
        </div>
        <!-- Current debts subtotal -->
        <div class="form-group row">
            <label for="calcCurrentDebts1"
                   class="col-sm-4 control-label"><span><b>Current Debts Subtotal</b></span></label>
            <div class="col-sm-4" id="calcCurrentDebts1">{{
                vm.currentDebtSubtotal | currency;}}
            </div>
        </div>

        <div id="footer">
            <ul>
                <li><a ui-sref="debtLongTerm">Long-term Debts - Next</a></li>
                <li><a ui-sref="assetsUseData">Use Assets - Previous</a></li>
            </ul>
        </div>
    </fieldset>
</form>
