<form class="form-horizontal" name="currentLiabilitiesForm" novalidate>
    <fieldset>
        <legend class="debtLegend">Current Debts</legend>

        <!-- Current debts credit cards -->
        <!-- Each label and control combination have a 'class=form-group' which provides for optimal
        spacing of the controls in the group -->
        <div class="form-group"
             ng-class="{'has-error':currentLiabilitiesForm.inputCreditCards.$invalid &&
                                    currentLiabilitiesForm.inputCreditCards.$dirty}">
            <!-- Each label has a 'class of control-label' and each control has a 'class of form-control'
             these ensures that the control takes the full width available to it. -->
            <label for="inputCreditCards" class="col-sm-4 control-label">Credit Cards</label>
            <!-- The 'for=' attribute relates the label to the data entry control 'input id=' property -->
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <!--  ng-focus and ng-blur - in this case allows for the removal of the zero '0' displayed
                        in each input box when the cursor enters the box, gains focus, and if nothing is changed,
                        replaces the zero on exiting , loses focus, if a value is added, the value typed in is retained.
                        min= and max= control the numbers that can be entered.
                        The min=0 prevents any negative numbers from being used
                        The max="999999999999999" limits the available numbers to 999 trillion.
                        ng-model provides two way binding to the input attribute  -->
                    <input type="text"
                           class="form-control"
                           id="inputCreditCards"
                           name="inputCreditCards"
                           ng-focus="vm.currentDebtsData.creditCards = vm.handleZeroOnFocus(vm.currentDebtsData.creditCards)"
                           ng-blur="vm.currentDebtsData.creditCards = vm.returnOnBlur(vm.currentDebtsData.creditCards)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.currentDebtsData.creditCards"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="currentLiabilitiesForm.inputCreditCards.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Current debts estimated income tax owed -->
        <div class="form-group"
             ng-class="{'has-error':currentLiabilitiesForm.inputEstIncomeTaxOwed.$invalid &&
                                    currentLiabilitiesForm.inputEstIncomeTaxOwed.$dirty}">
            <label for="inputEstIncomeTaxOwed" class="col-sm-4 control-label">Estimated Income Tax Owed</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputEstIncomeTaxOwed"
                           name="inputEstIncomeTaxOwed"
                           ng-focus="vm.currentDebtsData.incomeTaxOwed = vm.handleZeroOnFocus(vm.currentDebtsData.incomeTaxOwed)"
                           ng-blur="vm.currentDebtsData.incomeTaxOwed = vm.returnOnBlur(vm.currentDebtsData.incomeTaxOwed)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.currentDebtsData.incomeTaxOwed"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="currentLiabilitiesForm.inputEstIncomeTaxOwed.$invalid &&
                           currentLiabilitiesForm.inputEstIncomeTaxOwed.$dirty">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Current debts outstanding bills -->
        <div class="form-group"
             ng-class="{'has-error':currentLiabilitiesForm.inputOutstandingBills.$invalid &&
                                    currentLiabilitiesForm.inputOutstandingBills.$dirty}">
            <label for="inputOutstandingBills" class="col-sm-4 control-label">Outstanding Bills</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputOutstandingBills"
                           name="inputOutstandingBills"
                           ng-focus="vm.currentDebtsData.outstandingBills = vm.handleZeroOnFocus(vm.currentDebtsData.outstandingBills)"
                           ng-blur="vm.currentDebtsData.outstandingBills = vm.returnOnBlur(vm.currentDebtsData.outstandingBills)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.currentDebtsData.outstandingBills"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="currentLiabilitiesForm.inputOutstandingBills.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Current debts subtotal -->
        <div class="form-group">
            <label for="calcCurrentDebts"
                   class="col-sm-4 control-label liabilitySubtotalCss">Current Debts Subtotal</label>
            <div class="col-sm-4" id="calcCurrentDebts">{{
                vm.currentDebtSubtotal | currency;}}
            </div>
        </div>

        <div id="footer">
            <ul>
                <li ui-sref-active="active"><a ui-sref="debtLongTerm">Long-term Debts - Next</a></li>
                <li ui-sref-active="active"><a ui-sref="assetsUseData">Use Assets - Previous</a></li>
                <li ui-sref-active="active"><a ui-sref="home">Asset & Liability Terms Definitions</a></li>
            </ul>
        </div>
    </fieldset>
</form>
