<form class="form-horizontal" name="longTermLiabilitiesForm" novalidate>
    <fieldset>
        <legend class="debtLegend">Long-Term Debts</legend>

        <!-- Long-term debts home mortgage -->
        <div class="form-group row"
             ng-class="{'has-error':longTermLiabilitiesForm.inputHomeMortgage.$invalid &&
                                    longTermLiabilitiesForm.inputHomeMortgage.$dirty}">
            <label for="inputHomeMortgage" class="col-sm-4 control-label">Home Mortgage</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputHomeMortgage"
                       name="inputHomeMortgage"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.longTermDebtData.homeMortgage"/>
            </div>
            <span class="help-block has-error"
                  ng-show="longTermLiabilitiesForm.inputHomeMortgage.$invalid">
                Home Mortgage must be a valid number, zero '0' or greater.
            </span>
        </div>
        <!-- Long-term debts home equity line -->
        <div class="form-group row"
             ng-class="{'has-error':longTermLiabilitiesForm.inputHomeEquity.$invalid &&
                                    longTermLiabilitiesForm.inputHomeEquity.$dirty}">
            <label for="inputHomeEquity" class="col-sm-4 control-label">Home Equity Line</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputHomeEquity"
                       name="inputHomeEquity"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.longTermDebtData.homeEquity"/>
            </div>
            <span class="help-block has-error"
                  ng-show="longTermLiabilitiesForm.inputHomeEquity.$invalid ">
                Home Equity Line must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Long-term debts mortgages on rentals -->
        <div class="form-group row"
             ng-class="{'has-error':longTermLiabilitiesForm.inputMortgagesRentalProperty.$invalid &&
                                    longTermLiabilitiesForm.inputMortgagesRentalProperty.$dirty}">
            <label for="inputMortgagesRentalProperty" class="col-sm-4 control-label">Mortgages on Rental
                Properties</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputMortgagesRentalProperty"
                       name="inputMortgagesRentalProperty"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.longTermDebtData.mortgagesRental"/>
            </div>
            <span class="help-block has-error"
                  ng-show="longTermLiabilitiesForm.inputMortgagesRentalProperty.$invalid ">
                Mortgages on Rental Properties must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Long-term debts vehicle loans -->
        <div class="form-group row"
             ng-class="{'has-error':longTermLiabilitiesForm.inputVehicleLoans.$invalid &&
                                    longTermLiabilitiesForm.inputVehicleLoans.$dirty}">
            <label for="inputVehicleLoans" class="col-sm-4 control-label">Vehicle Loans</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputVehicleLoans"
                       name="inputVehicleLoans"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.longTermDebtData.vehiclesLoans"/>
            </div>
            <span class="help-block has-error"
                  ng-show="longTermLiabilitiesForm.inputVehicleLoans.$invalid ">
                Vehicle Loans must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Long-term debts student loans -->
        <div class="form-group row"
             ng-class="{'has-error':longTermLiabilitiesForm.inputStudentLoans.$invalid &&
                                    longTermLiabilitiesForm.inputStudentLoans.$dirty}">
            <label for="inputStudentLoans" class="col-sm-4 control-label">Student Loans</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputStudentLoans"
                       name="inputStudentLoans"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.longTermDebtData.studentLoans"/>
            </div>
            <span class="help-block has-error"
                  ng-show="longTermLiabilitiesForm.inputStudentLoans.$invalid ">
                    Student Loans must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Long-term debts life insurance loans -->
        <div class="form-group row"
             ng-class="{'has-error':longTermLiabilitiesForm.inputLifeInsuranceLoans.$invalid &&
                                    longTermLiabilitiesForm.inputLifeInsuranceLoans.$dirty}">
            <label for="inputLifeInsuranceLoans" class="col-sm-4 control-label">Life Insurance Loans</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputLifeInsuranceLoans"
                       name="inputLifeInsuranceLoans"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.longTermDebtData.lifeInsuranceLoan"/>

            </div>
            <span class="help-block has-error"
                  ng-show="longTermLiabilitiesForm.inputLifeInsuranceLoans.$invalid">
                    Life Insurance Loans must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Long-term debts other -->
        <div class="form-group row"
             ng-class="{'has-error':longTermLiabilitiesForm.inputOtherLongtermDebt.$invalid &&
                                    longTermLiabilitiesForm.inputOtherLongtermDebt.$dirty}">
            <label for="inputOtherLongtermDebt" class="col-sm-4 control-label">Other Long-term Debt</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputOtherLongtermDebt"
                       name="inputOtherLongtermDebt"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.longTermDebtData.otherLongtermDebt"
                />
            </div>
            <span class="help-block has-error"
                  ng-show="longTermLiabilitiesForm.inputOtherLongtermDebt.$invalid">
                    Other Long-term Debt must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Long-term debts subtotal -->
        <div class="form-group row">
            <label for="calcLongTermDebtSubtotal"
                   class="col-sm-4 control-label"><span><b>Long-term Debts Subtotal</b></span></label>
            <div class="col-sm-4" id="calcLongTermDebtSubtotal">{{ vm.longtermDebtSubtotal | currency;}}
            </div>
        </div>

        <!--  total liabilities -->
        <div class="form-group row">
            <label for="calcTotalDebts" class="col-sm-4 control-label"
                   style="font-size: x-large; color: #8b0000;">Total Liabilities</label>
            <div class="col-sm-4" id="calcTotalDebts">{{ vm.totalLiability | currency;}}</div>
        </div>
        <br>

        <legend style="color: #008000;">Net Worth = Total Assets - Total Liabilities</legend>
        <!-- Total assets -->
        <div class="form-group row">
            <label for="calcTotalAssets" class="col-sm-4 control-label"
                   style="font-size: x-large; color: #006400;">Total Assets</label>
            <div class="col-sm-4" id="calcTotalAssets">{{ vm.totalAsset | currency;}}</div>
        </div>

        <!-- Total liabilities -->
        <div class="form-group row">
            <label for="calcTotalDebts2" class="col-sm-4 control-label"
                   style="font-size: x-large; color: #8b0000;">Total Liabilities</label>
            <div class="col-sm-4" id="calcTotalDebts2">{{ vm.totalLiability | currency;}}</div>
        </div>

        <!-- Net Worth -->
        <div class="form-group row">
            <label for="calcNetWorth" class="col-sm-4 control-label"
                   style="font-size: x-large; color: #006400;"><b>Net Worth</b></label>
            <div class="col-sm-4" id="calcNetWorth">{{ vm.totalAsset - vm.totalLiability | currency;}}
            </div>
        </div>

        <div id="footer">
            <ul>
                <li><a ui-sref="debtCurrent">Current Debts - Previous</a></li>
            </ul>
        </div>
    </fieldset>
</form>
