<form class="form-horizontal" name="assetUseForm" novalidate>
    <fieldset>
        <legend class="assetLegend">Use Assets</legend>

        <!-- Use principle home -->
        <div class="form-group row"
             ng-class="{'has-error':assetUseForm.inputPrincipleHome.$invalid &&
                                    assetUseForm.inputPrincipleHome.$dirty}">
            <label for="inputPrincipleHome" class="col-sm-4 control-label">Principle Home</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputPrincipleHome"
                       name="inputPrincipleHome"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.useData.principleHome"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputPrincipleHome.$invalid">
                Principle Home must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use vacation home -->
        <div class="form-group row"
             ng-class="{'has-error':assetUseForm.inputVacationHome.$invalid &&
                                    assetUseForm.inputVacationHome.$dirty}">
            <label for="inputVacationHome" class="col-sm-4 control-label">Vacation Home</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputVacationHome"
                       name="inputVacationHome"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.useData.vacationHome"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputVacationHome.$invalid">
                Vacation Home must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use vehicles -->
        <div class="form-group row"
             ng-class="{'has-error':assetUseForm.inputVehicles.$invalid &&
                                    assetUseForm.inputVehicles.$dirty}">
            <label for="inputVehicles" class="col-sm-4 control-label">Vehicles - Cars Trucks Boats</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputVehicles"
                       name="inputVehicles"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.useData.vehicles"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputVehicles.$invalid &&
                           assetUseForm.inputVehicles.$dirty">
                Vehicles must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use home furnishings -->
        <div class="form-group row"
             ng-class="{'has-error':assetUseForm.inputHomeFurnish.$invalid &&
                                    assetUseForm.inputHomeFurnish.$dirty}">
            <label for="inputHomeFurnish" class="col-sm-4 control-label">Home Furnishings</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputHomeFurnish"
                       name="inputHomeFurnish"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.useData.homeFurnish"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputHomeFurnish.$invalid">
                Home Furnishings must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use Art antiques, coin, collectibles-->
        <div class="form-group row"
             ng-class="{'has-error':assetUseForm.inputArt.$invalid &&
                                    assetUseForm.inputArt.$dirty}">
            <label for="inputArt" class="col-sm-4 control-label">Art, antiques, coin, collectibles</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputArt"
                       name="inputArt"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.useData.art"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputArt.$invalid">
                Art, antiques, coin, collectibles must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use Jewelry, Furs -->
        <div class="form-group row"
             ng-class="{'has-error':assetUseForm.inputJewelry.$invalid &&
                                    assetUseForm.inputJewelry.$dirty}">
            <label for="inputJewelry" class="col-sm-4 control-label">Jewelry, Furs</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputJewelry"
                       name="inputJewelry"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.useData.jewelry"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputJewelry.$invalid">
                Jewelry, Furs must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use assets Other -->
        <div class="form-group row"
             ng-class="{'has-error':assetUseForm.inputUAOther.$invalid &&
                                    assetUseForm.inputUAOther.$dirty}">
            <label for="inputUAOther" class="col-sm-4 control-label">Use Assets Other</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputUAOther"
                       name="inputUAOther"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.useData.uaOther"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputUAOther.$invalid">
                Use Assets Other must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use assets subtotal -->
        <div class="form-group row">
            <label for="calcUseSubTotal" class="col-sm-4 control-label"><span>Use Assets Subtotal</span></label>
            <div class="col-sm-4" id="calcUseSubTotal">{{ vm.useSubtotal | currency;}}</div>
        </div>

        <!-- Use assets total -->
        <div class="form-group row">
            <label for="calcTotalAssets" class="col-sm-4 control-label"
                   style="font-size: x-large; color: #006400;">Total Assets</label>
            <div class="col-sm-4" id="calcTotalAssets">{{ vm.totalAsset | currency;}}</div>
        </div>

        <div id="footer">
            <ul>
                <li><a ui-sref="debtCurrent">Current Debts - Next</a></li>
                <li><a ui-sref="assetsInvestedData">Invested Assets - Previous</a></li>
            </ul>
        </div>
    </fieldset>
</form>
