<form class="form-horizontal" name="assetCashForm" novalidate>
    <fieldset>
        <legend class="assetLegend">Cash and Cash Equlivalents</legend>

        <!-- Checking Input -->
        <div class="form-group row"
             ng-class="{'has-error':assetCashForm.inputChecking.$invalid &&
                                    assetCashForm.inputChecking.$dirty}">
            <label for="inputChecking" class="col-sm-4 control-label">Checking</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputChecking"
                       name="inputChecking"
                       ng-focus="vm.cashData.checking = vm.handleZeroOnFocus(vm.cashData.checking)"
                       ng-blur="vm.cashData.checking = vm.returnOnBlur(vm.cashData.checking)"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.cashData.checking"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputChecking.$invalid">
                Checking must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Savings Input -->
        <div class="form-group row"
             ng-class="{'has-error':assetCashForm.inputSavings.$invalid &&
                                    assetCashForm.inputSavings.$dirty}">
            <label for="inputSavings" class="col-sm-4 control-label">Savings</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputSavings"
                       name="inputSavings"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.cashData.savings"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputSavings.$invalid">
                Savings must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Currency and Coin Input -->
        <div class="form-group row"
             ng-class="{'has-error':assetCashForm.inputCash.$invalid &&
                                    assetCashForm.inputCash.$dirty}">
            <label for="inputCash" class="col-sm-4 control-label">Currency and Coin</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputCash"
                       name="inputCash"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.cashData.cash"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputCash.$invalid">
                Cash must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Money Market Input -->
        <div class="form-group row"
             ng-class="{'has-error':assetCashForm.inputMoneyMarket.$invalid &&
                                    assetCashForm.inputMoneyMarket.$dirty}">
            <label for="inputMoneyMarket" class="col-sm-4 control-label">Money Market</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputMoneyMarket"
                       name="inputMoneyMarket"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.cashData.moneyMarket"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputMoneyMarket.$invalid">
                MoneyMarket must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Savings Bond Input -->
        <div class="form-group row"
             ng-class="{'has-error':assetCashForm.inputSavingsBonds.$invalid &&
                                    assetCashForm.inputSavingsBonds.$dirty}">
            <label for="inputSavingsBonds" class="col-sm-4 control-label">Savings bonds</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputSavingsBonds"
                       name="inputSavingsBonds"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.cashData.savingsBond"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputSavingsBonds.$invalid">
                Savings Bond must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- CD's Input -->
        <div class="form-group row"
             ng-class="{'has-error':assetCashForm.inputCDs.$invalid &&
                                    assetCashForm.inputCDs.$dirty}">
            <label for="inputCDs" class="col-sm-4 control-label">Certificate of Deposit (CD's)</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputCDs"
                       name="inputCDs"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.cashData.cds"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputCDs.$invalid">
                CD's must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Cash Value of Life Insurance Input -->
        <div class="form-group row"
             ng-class="{'has-error':assetCashForm.inputCashValLifeIns.$invalid &&
                                    assetCashForm.inputCashValLifeIns.$dirty}">
            <label for="inputCashValLifeIns" class="col-sm-4 control-label">Cash value of life insurance</label>
            <div class="col-sm-2">
                <input type="text"
                       class="form-control"
                       id="inputCashValLifeIns"
                       name="inputCashValLifeIns"
                       min="0"
                       max="999999999999999"
                       pattern="[0-9]+([\.,][0-9]+)*"
                       ng-model="vm.cashData.cashValLifeIns"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputCashValLifeIns.$invalid">
                Cash value of Life insurance must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Cash Equivalent Output -->
        <div class="form-group row">
            <label for="calcCashSubTotal" class="col-sm-4 control-label">
                <span>Subtotal Cash Equlivalents</span></label>
            <div class="col-sm-4" id="calcCashSubTotal">{{ vm.cashSubtotal | currency;}}
            </div>
        </div>

        <div id="footer">
            <ul>
                <li><a ui-sref="assetsInvestedData">Invested Assets - Next</a></li>
            </ul>
        </div>
    </fieldset>
</form>
