<!-- 'form-horizontal' - displays the label to the left of the input box -->
<form class="form-horizontal" name="assetUseForm" novalidate>
    <fieldset>
        <legend class="assetLegend">Use Assets</legend>

        <!-- Use principle home -->
        <!-- Each label and control combination have a 'class=form-group' which provides for optimal
        spacing of the controls in the group -->
        <div class="form-group"
             ng-class="{'has-error':assetUseForm.inputPrincipleHome.$invalid &&
                                    assetUseForm.inputPrincipleHome.$dirty}">
            <!-- Each label has a 'class of control-label' and each control has a 'class of form-control'
             these ensures that the control takes the full width available to it. -->
            <!-- Each label uses the Bootstrap grid 'col-sm-4' to put the label in the first four columns
            and the input control uses the next two columns 'col-sm-2' -->
            <label for="inputPrincipleHome" class="col-sm-4 control-label">Principle Home</label>
            <!-- The 'for=' attribute relates the label to the data entry control 'input id=' property -->
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input type=text boxes -->
                    <!--  ng-focus and ng-blur - in this case allows for the removal of the zero '0' displayed
                        in each input box when the cursor enters the box, gains focus, and if nothing is changed,
                        replaces the zero on exiting , loses focus, if a value is added, the value typed in is retained.
                        min= and max= control the numbers that can be entered.
                        The min=0 prevents any negative numbers from being used
                        The max="999999999999999" limits the available numbers to 999 trillion.
                        ng-model provides two way binding to the input attribute  -->
                    <input type="text"
                           class="form-control"
                           id="inputPrincipleHome"
                           name="inputPrincipleHome"
                           ng-focus="vm.useData.principleHome = vm.handleZeroOnFocus(vm.useData.principleHome)"
                           ng-blur="vm.useData.principleHome = vm.returnOnBlur(vm.useData.principleHome)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.useData.principleHome"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputPrincipleHome.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use vacation home -->
        <div class="form-group"
             ng-class="{'has-error':assetUseForm.inputVacationHome.$invalid &&
                                    assetUseForm.inputVacationHome.$dirty}">
            <label for="inputVacationHome" class="col-sm-4 control-label">Vacation Home</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input type=text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputVacationHome"
                           name="inputVacationHome"
                           ng-focus="vm.useData.vacationHome = vm.handleZeroOnFocus(vm.useData.vacationHome)"
                           ng-blur="vm.useData.vacationHome = vm.returnOnBlur(vm.useData.vacationHome)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.useData.vacationHome"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputVacationHome.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use vehicles -->
        <div class="form-group"
             ng-class="{'has-error':assetUseForm.inputVehicles.$invalid &&
                                    assetUseForm.inputVehicles.$dirty}">
            <label for="inputVehicles" class="col-sm-4 control-label">Vehicles - Cars Trucks Boats</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input type=text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputVehicles"
                           name="inputVehicles"
                           ng-focus="vm.useData.vehicles = vm.handleZeroOnFocus(vm.useData.vehicles)"
                           ng-blur="vm.useData.vehicles = vm.returnOnBlur(vm.useData.vehicles)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.useData.vehicles"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputVehicles.$invalid &&
                           assetUseForm.inputVehicles.$dirty">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use home furnishings -->
        <div class="form-group"
             ng-class="{'has-error':assetUseForm.inputHomeFurnish.$invalid &&
                                    assetUseForm.inputHomeFurnish.$dirty}">
            <label for="inputHomeFurnish" class="col-sm-4 control-label">Home Furnishings</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input type=text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputHomeFurnish"
                           name="inputHomeFurnish"
                           ng-focus="vm.useData.homeFurnish = vm.handleZeroOnFocus(vm.useData.homeFurnish)"
                           ng-blur="vm.useData.homeFurnish = vm.returnOnBlur(vm.useData.homeFurnish)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.useData.homeFurnish"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputHomeFurnish.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use Art antiques, coin, collectibles-->
        <div class="form-group"
             ng-class="{'has-error':assetUseForm.inputArt.$invalid &&
                                    assetUseForm.inputArt.$dirty}">
            <label for="inputArt" class="col-sm-4 control-label">Art, antiques, coin, collectibles</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input type=text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputArt"
                           name="inputArt"
                           ng-focus="vm.useData.art = vm.handleZeroOnFocus(vm.useData.art)"
                           ng-blur="vm.useData.art = vm.returnOnBlur(vm.useData.art)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.useData.art"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputArt.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use Jewelry, Furs -->
        <div class="form-group"
             ng-class="{'has-error':assetUseForm.inputJewelry.$invalid &&
                                    assetUseForm.inputJewelry.$dirty}">
            <label for="inputJewelry" class="col-sm-4 control-label">Jewelry, Furs</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input type=text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputJewelry"
                           name="inputJewelry"
                           ng-focus="vm.useData.jewelry = vm.handleZeroOnFocus(vm.useData.jewelry)"
                           ng-blur="vm.useData.jewelry = vm.returnOnBlur(vm.useData.jewelry)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.useData.jewelry"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputJewelry.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use assets Other -->
        <div class="form-group"
             ng-class="{'has-error':assetUseForm.inputUAOther.$invalid &&
                                    assetUseForm.inputUAOther.$dirty}">
            <label for="inputUAOther" class="col-sm-4 control-label">Use Assets Other</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input type=text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputUAOther"
                           name="inputUAOther"
                           ng-focus="vm.useData.uaOther = vm.handleZeroOnFocus(vm.useData.uaOther)"
                           ng-blur="vm.useData.uaOther = vm.returnOnBlur(vm.useData.uaOther)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.useData.uaOther"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetUseForm.inputUAOther.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Use assets subtotal -->
        <div class="form-group">
            <label for="calcUseSubTotal" class="col-sm-4 control-label assetSubtotalCss">Use Assets Subtotal</label>
            <div class="col-sm-4" id="calcUseSubTotal">{{ vm.useSubtotal | currency;}}</div>
        </div>

        <!-- Use assets total -->
        <div class="form-group">
            <label for="calcTotalAssets" class="col-sm-4 control-label calcTotalAssetsCss">Total Assets</label>
            <div class="col-sm-4" id="calcTotalAssets">{{ vm.totalAsset | currency;}}</div>
        </div>

        <div id="footer">
            <ul>
                <li ui-sref-active="active"><a ui-sref="debtCurrent">Current Debts - Next</a></li>
                <li ui-sref-active="active"><a ui-sref="assetsInvestedData">Invested Assets - Previous</a></li>
                <li ui-sref-active="active"><a ui-sref="home">Asset & Liability Terms Definitions</a></li>
            </ul>
        </div>
    </fieldset>
</form>
