<form class="form-horizontal" name="assetInvestForm" novalidate>
    <fieldset>
        <legend class="assetLegend">Invested Assets</legend>
        
        <h1>Taxable accounts</h1>

        <!-- Invest brokerage -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputBrokerage.$invalid &&
                                    assetInvestForm.inputBrokerage.$dirty}">
            <label for="inputBrokerage" class="col-sm-4 control-label">Brokerage</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputBrokerage"
                       name="inputBrokerage"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.brokerage"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputBrokerage.$invalid">
                Brokerage must be a valid number or empty.
            </span>
        </div>

        <!-- Invest taxable other -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputTaOther.$invalid &&
                                    assetInvestForm.inputTaOther.$dirty}">
            <label for="inputTaOther" class="col-sm-4 control-label">Taxable Other</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputTaOther"
                       name="inputTaOther"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.taOther"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputTaOther.$invalid">
                Taxable Other must be a valid number or empty.
            </span>
        </div>

        <h1>Retirement accounts</h1>

        <!-- Invest ira -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputIra.$invalid &&
                                    assetInvestForm.inputIra.$dirty}">
            <label for="inputIra" class="col-sm-4 control-label">IRA</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputIra"
                       name="inputIra"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.ira"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputIra.$invalid">
                IRA must be a valid number or empty.
            </span>
        </div>

        <!-- Invest roth ira -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputRothIra.$invalid &&
                                    assetInvestForm.inputRothIra.$dirty}">
            <label for="inputRothIra" class="col-sm-4 control-label">Roth IRA</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputRothIra"
                       name="inputRothIra"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.rothIra"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputRothIra.$invalid">
                Roth Ira must be a valid number or empty.
            </span>
        </div>

        <!-- Invest 401 K - 403 B -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.input401k403b.$invalid &&
                                    assetInvestForm.input401k403b.$dirty}">
            <label for="input401k403b" class="col-sm-4 control-label">401(k) or 403(b)</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="input401k403b"
                       name="input401k403b"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.kb"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.input401k403b.$invalid">
                401(k) or 403(b must be a valid number or empty.
            </span>
        </div>

        <!-- Invest SEPIRA -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputSepIra.$invalid &&
                                    assetInvestForm.inputSepIra.$dirty}">
            <label for="inputSepIra" class="col-sm-4 control-label">SEPIRA</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputSepIra"
                       name="inputSepIra"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.sepIra"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputSepIra.$invalid">
                SEPIRA must be a valid number or empty.
            </span>
        </div>

        <!-- Invest keogh -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputKeogh.$invalid &&
                                    assetInvestForm.inputKeogh.$dirty}">
            <label for="inputKeogh" class="col-sm-4 control-label">Keogh</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputKeogh"
                       name="inputKeogh"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.keogh"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputKeogh.$invalid">
                Keogh must be a valid number or empty.
            </span>
        </div>

        <!-- Invest pension -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputPension.$invalid &&
                                    assetInvestForm.inputPension.$dirty}">
            <label for="inputPension" class="col-sm-4 control-label">Pension</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputPension"
                       name="inputPension"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.pension"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputPension.$invalid">
                Pension must be a valid number or empty.
            </span>
        </div>

        <!-- Invest annuity -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputAnnuity.$invalid &&
                                    assetInvestForm.inputAnnuity.$dirty}">
            <label for="inputAnnuity" class="col-sm-4 control-label">Annuity</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputAnnuity"
                       name="inputAnnuity"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.annuity"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputAnnuity.$invalid &&
                           assetInvestForm.inputAnnuity.$dirty">
                Annuity must be a valid number or empty.
            </span>
        </div>

        <h1>Business ownership Interests</h1>

        <!-- Invest real estate -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputRealEstate.$invalid &&
                                    assetInvestForm.inputRealEstate.$dirty}">
            <label for="inputRealEstate" class="col-sm-4 control-label">Real Estate</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputRealEstate"
                       name="inputRealEstate"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.realEstate"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputRealEstate.$invalid">
                Real Estate must be a valid number or empty.
            </span>
        </div>

        <!-- Invest sole proprietorship -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputSolePro.$invalid &&
                                    assetInvestForm.inputSolePro.$dirty}">
            <label for="inputSolePro" class="col-sm-4 control-label">Sole Proprietorship</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputSolePro"
                       name="inputSolePro"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.solePro"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputSolePro.$invalid">
                Sole Proprietorship must be a valid number or empty.
            </span>
        </div>

        <!-- Invest partnership -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputPartnership.$invalid &&
                                    assetInvestForm.inputPartnership.$dirty}">
            <label for="inputPartnership" class="col-sm-4 control-label">Partnership</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputPartnership"
                       name="inputPartnership"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.partnership"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputPartnership.$invalid">
                Partnership must be a valid number or empty.
            </span>
        </div>

        <!-- Invest C Corporation -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputCCorporation.$invalid &&
                                    assetInvestForm.inputCCorporation.$dirty}">
            <label for="inputCCorporation" class="col-sm-4 control-label">C Corporation</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputCCorporation"
                       name="inputCCorporation"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.cCorporation"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputCCorporation.$invalid">
                C Corporation must be a valid number or empty.
            </span>
        </div>

        <!-- Invest S Corporation -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputSCorporation.$invalid &&
                                    assetInvestForm.inputSCorporation.$dirty}">
            <label for="inputSCorporation" class="col-sm-4 control-label">S Corporation</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputSCorporation"
                       name="inputSCorporation"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.sCorporation"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputSCorporation.$invalid">
                S Corporation must be a valid number or empty.
            </span>
        </div>

        <!-- Invest LLC -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputLLC.$invalid &&
                                    assetInvestForm.inputLLC.$dirty}">
            <label for="inputLLC" class="col-sm-4 control-label">LLC</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputLLC"
                       name="inputLLC"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.limitedLC"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputLLC.$invalid">
                LLC must be a valid number or empty.
            </span>
        </div>

        <!-- Invest business ownership other -->
        <div class="form-group row"
             ng-class="{'has-error':assetInvestForm.inputBoOther.$invalid &&
                                    assetInvestForm.inputBoOther.$dirty}">
            <label for="inputBoOther" class="col-sm-4 control-label">Business Ownership Other</label>
            <div class="col-sm-2">
                <input type="number"
                       class="form-control"
                       id="inputBoOther"
                       name="inputBoOther"
                       min="0"
                       max="999999999999999"
                       ng-model="vm.investData.boOther"/>
            </div>
            <span class="help-block has-error"
                  ng-show="assetInvestForm.inputBoOther.$invalid">
                Business Owner Other must be a valid number or empty.
            </span>
        </div>

        <!-- Invest assets subtotal -->
        <div class="form-group row">
            <label for="calcInvestSubTotal" class="col-sm-4 control-label"><span>Invested Assets Subtotal</span></label>
            <div class="col-sm-4" id="calcInvestSubTotal">{{ vm.investSubtotal | currency;}}</div>
        </div>

        <div id="footer">
            <ul>
                <li><a ui-sref="assetsUseData">Use Assets - Next</a></li>
                <li><a ui-sref="assetsCashData">Cash Assets - Previous</a></li>
            </ul>
        </div>
    </fieldset>
</form>
