<!-- 'form-horizontal' - displays the label to the left of the input box -->
<form class="form-horizontal" name="assetCashForm" novalidate>
    <fieldset>  <!-- groups related controls -->

        <legend class="assetLegend">Cash and Cash Equlivalents</legend>

        <!-- Checking Input -->
        <!-- Each label and control combination have a 'class=form-group' which provides for optimal
         spacing of the controls in the group -->
        <div class="form-group"
             ng-class="{'has-error':assetCashForm.inputChecking.$invalid &&
                                    assetCashForm.inputChecking.$dirty}">
            <!-- Each label has a 'class of control-label' and each control has a 'class of form-control'
             these ensures that the control takes the full width available to it. -->
            <!-- Each label uses the Bootstrap grid 'col-sm-4' to put the label in the first four columns
            and the input control uses the next two columns 'col-sm-2' -->
            <label for="inputChecking" class="col-sm-4 control-label">Checking</label>
            <!-- The 'for=' attribute relates the label to the data entry control 'input id=' property -->
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <!--  ng-focus and ng-blur - in this case allows for the removal of the zero '0' displayed
                        in each input box when the cursor enters the box, gains focus, and if nothing is changed,
                        replaces the zero on exiting , loses focus, if a numeric value is added, the value typed in is retained.
						if anything else is typed in alpha character or symbol it is lost. 
                        min= and max= control the numbers that can be entered.
                        The min=0 prevents any negative numbers from being used
                        The max="999999999999999" limits the available numbers to 999 trillion.
                        ng-model provides two way binding to the input attribute  -->
                    <input type="text"
                           class="form-control"
                           id="inputChecking"
                           name="inputChecking"
                           ng-focus="vm.cashData.checking = vm.handleZeroOnFocus(vm.cashData.checking)"
                           ng-blur="vm.cashData.checking = vm.returnOnBlur(vm.cashData.checking)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.cashData.checking"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputChecking.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Savings Input -->
        <div class="form-group"
             ng-class="{'has-error':assetCashForm.inputSavings.$invalid &&
                                    assetCashForm.inputSavings.$dirty}">
            <label for="inputSavings" class="col-sm-4 control-label">Savings</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputSavings"
                           name="inputSavings"
                           ng-focus="vm.cashData.savings = vm.handleZeroOnFocus(vm.cashData.savings)"
                           ng-blur="vm.cashData.savings = vm.returnOnBlur(vm.cashData.savings)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.cashData.savings"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputSavings.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Currency and Coin Input -->
        <div class="form-group"
             ng-class="{'has-error':assetCashForm.inputCash.$invalid &&
                                    assetCashForm.inputCash.$dirty}">
            <label for="inputCash" class="col-sm-4 control-label">Currency and Coin</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputCash"
                           name="inputCash"
                           ng-focus="vm.cashData.cash = vm.handleZeroOnFocus(vm.cashData.cash)"
                           ng-blur="vm.cashData.cash = vm.returnOnBlur(vm.cashData.cash)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.cashData.cash"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputCash.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Money Market Input -->
        <div class="form-group"
             ng-class="{'has-error':assetCashForm.inputMoneyMarket.$invalid &&
                                    assetCashForm.inputMoneyMarket.$dirty}">
            <label for="inputMoneyMarket" class="col-sm-4 control-label">Money Market</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputMoneyMarket"
                           name="inputMoneyMarket"
                           ng-focus="vm.cashData.moneyMarket = vm.handleZeroOnFocus(vm.cashData.moneyMarket)"
                           ng-blur="vm.cashData.moneyMarket = vm.returnOnBlur(vm.cashData.moneyMarket)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.cashData.moneyMarket"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputMoneyMarket.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Savings Bond Input -->
        <div class="form-group"
             ng-class="{'has-error':assetCashForm.inputSavingsBonds.$invalid &&
                                    assetCashForm.inputSavingsBonds.$dirty}">
            <label for="inputSavingsBonds" class="col-sm-4 control-label">Savings bonds</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputSavingsBonds"
                           name="inputSavingsBonds"
                           ng-focus="vm.cashData.savingsBond = vm.handleZeroOnFocus(vm.cashData.savingsBond)"
                           ng-blur="vm.cashData.savingsBond = vm.returnOnBlur(vm.cashData.savingsBond)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.cashData.savingsBond"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputSavingsBonds.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- CD's Input -->
        <div class="form-group"
             ng-class="{'has-error':assetCashForm.inputCDs.$invalid &&
                                    assetCashForm.inputCDs.$dirty}">
            <label for="inputCDs" class="col-sm-4 control-label">Certificate of Deposit (CD's)</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputCDs"
                           name="inputCDs"
                           ng-focus="vm.cashData.cds = vm.handleZeroOnFocus(vm.cashData.cds)"
                           ng-blur="vm.cashData.cds = vm.returnOnBlur(vm.cashData.cds)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.cashData.cds"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputCDs.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Cash Value of Life Insurance Input -->
        <div class="form-group"
             ng-class="{'has-error':assetCashForm.inputCashValLifeIns.$invalid &&
                                    assetCashForm.inputCashValLifeIns.$dirty}">
            <label for="inputCashValLifeIns" class="col-sm-4 control-label">Cash value of life insurance</label>
            <div class="col-sm-2">
                <div class="dollar"> <!-- Add $ symbol inside input text boxes -->
                    <input type="text"
                           class="form-control"
                           id="inputCashValLifeIns"
                           name="inputCashValLifeIns"
                           ng-focus="vm.cashData.cashValLifeIns = vm.handleZeroOnFocus(vm.cashData.cashValLifeIns)"
                           ng-blur="vm.cashData.cashValLifeIns = vm.returnOnBlur(vm.cashData.cashValLifeIns)"
                           min="0"
                           max="999999999999999"
                           ng-model="vm.cashData.cashValLifeIns"/>
                </div>
            </div>
            <span class="help-block has-error"
                  ng-show="assetCashForm.inputCashValLifeIns.$invalid">
                Must be a valid number, zero '0' or greater.
            </span>
        </div>

        <!-- Cash Equivalent Output -->
        <div class="form-group">
            <label for="calcCashSubTotal" class="col-sm-4 control-label assetSubtotalCss">
                Subtotal Cash Equlivalents</label>
            <div class="col-sm-4" id="calcCashSubTotal">{{ vm.cashSubtotal | currency;}}
            </div>
        </div>

        <div id="footer">
            <ul>
                <li ui-sref-active="active"><a ui-sref="assetsInvestedData">Invested Assets - Next</a></li>
                <li ui-sref-active="active"><a ui-sref="home">Asset & Liability Terms Definitions</a></li>
            </ul>
        </div>

    </fieldset>
</form>
