<form class="form-horizontal" name="assetCashForm" novalidate>
    <fieldset>
        <div class="form-group"
             ng-class="{'has-error': assetCashForm.inputChecking.$invalid &&
                                     assetCashForm.inputChecking.$dirty}">
            <label class="col-sm-3 control-label" for="inputChecking" style="text-align:left">Checking</label>
            <div class="col-md-2">
                <input class="form-control" id="inputChecking" name="inputChecking"
                       type="number" placeholder="Asset amount" ng-model="vm.checking"
                       style="text-align:right" />
            </div>
            <span class="help-block "
                  ng-show="assetCashForm.inputChecking.$invalid &&
                           assetCashForm.inputChecking.$dirty">
                Checking must be a valid number or empty.
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error': assetCashForm.inputSavings.$invalid &&
                                     assetCashForm.inputSavings.$dirty}">
            <label class="col-sm-3 control-label" for="inputSavings" style="text-align:left">Savings</label>
            <div class="col-md-2">
                <input class="form-control" id="inputSavings" name="inputSavings"
                       type="number" placeholder="Asset amount" ng-model="vm.savings"
                       style="text-align:right" />
            </div>
            <span class="help-block "
                  ng-show="assetCashForm.inputSavings.$invalid &&
                           assetCashForm.inputSavings.$dirty">
                Savings must be a valid number or empty.
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error': assetCashForm.inputMoneyMarket.$invalid &&
                                     assetCashForm.inputMoneyMarket.$dirty}">
            <label class="col-sm-3 control-label" for="inputMoneyMarket" style="text-align:left">Money Market</label>
            <div class="col-md-2">
                <input class="form-control" id="inputMoneyMarket" name="inputMoneyMarket"
                       type="number" placeholder="Asset amount" ng-model="vm.moneyMarket"
                       style="text-align:right" />
            </div>
            <span class="help-block "
                  ng-show="assetCashForm.inputMoneyMarket.$invalid &&
                           assetCashForm.inputMoneyMarket.$dirty">
                Money Market must be a valid number or empty.
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error': assetCashForm.inputSavingsBonds.$invalid &&
                                     assetCashForm.inputSavingsBonds.$dirty}">
            <label class="col-sm-3 control-label" for="inputSavingsBonds" style="text-align:left">Savings Bonds</label>
            <div class="col-md-2">
                <input class="form-control" id="inputSavingsBonds" name="inputSavingsBonds"
                       type="number" placeholder="Asset amount" ng-model="vm.savingsBonds"
                       style="text-align:right" />
            </div>
            <span class="help-block "
                  ng-show="assetCashForm.inputSavingsBonds.$invalid &&
                           assetCashForm.inputSavingsBonds.$dirty">
                Savings Bonds must be a valid number or empty.
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error': assetCashForm.inputCDs.$invalid &&
                                     assetCashForm.inputCDs.$dirty}">
            <label class="col-sm-3 control-label" for="inputCDs" style="text-align:left">CD's</label>
            <div class="col-md-2">
                <input class="form-control" id="inputCDs" name="inputCDs"
                       type="number" placeholder="Asset amount" ng-model="vm.cds"
                       style="text-align:right" />
            </div>
            <span class="help-block "
                  ng-show="assetCashForm.inputCDs.$invalid &&
                           assetCashForm.inputCDs.$dirty">
                Savings Bonds must be a valid number or empty.
            </span>
        </div>
        <div class="form-group"
             ng-class="{'has-error': assetCashForm.inputCashValLifeIns.$invalid &&
                                     assetCashForm.inputCashValLifeIns.$dirty}">
            <label class="col-sm-3 control-label" for="inputCashValLifeIns" style="text-align:left">Cash value of life insurance</label>
            <div class="col-md-2">
                <input class="form-control" id="inputCashValLifeIns" name="inputCashValLifeIns"
                       type="number" placeholder="Asset amount" ng-model="vm.cashValLifeIns"
                       style="text-align:right" />
            </div>
            <span class="help-block "
                  ng-show="assetCashForm.inputCashValLifeIns.$invalid &&
                           assetCashForm.inputCashValLifeIns.$dirty">
                Savings Bonds must be a valid number or empty.
            </span>
        </div>
        <div class="col-md-2">
            <button type="button"
                    class="btn btn-default"
                    title="Calculate Cash Subtotal"
                    ng-click="vm.calculateCashSubTotal()">
                Calculate Cash
            </button>
        </div><br ><br >
        <div class="form-group">
            <label for="calcCashSubTotal" class="col-sm-3 control-label">Sub-Total Cash</label>
            <div class="col-md-2">
                <input class="form-control"
                       id="calcCashSubTotal"
                       name="calcCashSubTotal"
                       type="text"
                       placeholder="Sub-total Cash"
                       ng-model="vm.subtotalCash"
                       style="text-align:right" />
                <!-- ng-model="vm.calculateCashSubtotal(vm.checking, vm.savings,
                            vm.moneyMarket, vm.savingsBond, vm.cds, vm.cashValLifeIns)" -->
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                    <span>
                        <button class="btn btn-primary"
                                style="width:80px;margin-right:10px"
                                ng-click="vm.submit()">
                            Save
                        </button>
                    </span>
                <span>
                        <button class="btn btn-default"
                                style="width:70px"
                                ng-click="vm.cancel()">
                            Cancel
                        </button>
                    </span>
            </div>
        </div>
    </fieldset>
</form>
